.nav{
    max-width: clamp(100%, 80vw, 600px);
    max-height: 40px;
    border-radius: 30px;
    background-color: #557733;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: clamp(5px, 1vh, 10px) clamp(10px, 2vw, 20px);
}
.nav ul li{
    padding:0 13px;
    text-decoration: none;
    list-style: none;
    font-size: clamp(0.875rem, 1vw, 1rem);
}
.link{
    color: #fff;
}

/* デスクトップサイズ（1024px以上）の場合 */
@media screen and (min-width: 1024px) {
    .nav ul li {
        font-size: 1rem;
    }
}