.buttonOutline {
    border: none;
    border-radius: 7px;
    background: #557733;
    width: clamp(140px, 20vw, 165px);
    height: clamp(35px, 5vh, 40px);
    color: #fff;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: bold;
    cursor: pointer;
}
